body{
    background-color: #F8F8F8;
}
#pesq{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin-top: 50px;
}
hr{
    width: 90%;
}
.box_pesquisa{
    width: 90%;
    margin-left: 5%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.box_pesquisa a{
    text-decoration: none;
    color: #000;
}