body{
    background-color: #F8F8F8;
}
#pesq{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin-top: 50px;
}
hr{
    width: 90%;
}
.box_pesquisa{
    width: 90%;
    margin-left: 5%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.box_pesquisa a{
    text-decoration: none;
    color: #000;
}
.box{
    width: 30%;
    height: 440px;
    margin: 10px;
    border-radius: 20px;
    transition: all 0.7s;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color:#FFF;
    border: solid 1px #bfbfbf;
    border-top: solid 3px #ff8d00;
}
.box:hover{
    border: solid 1px #bfbfbf;
    border-bottom: solid 3px #ff8d00;
    transition: all 0.7s;
}
.box:hover img{
    margin-left: 20% !important;
    width: 60%;
    height: 60%;
    transition: all 0.5s;
}
.box img{
    margin-left: 25% !important;
    width: 50%;
    height: 50%;
    margin-top: 10px;
    border-radius: 10px;
    transition: all 0.5s;
    object-fit: cover;
}
.box h2{
    width: 100%;
    margin-bottom: 20px;
    padding: 0px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
.box p{
    width: 80%;
    margin-left: 10% !important;
    font-size: 15px;
    text-align: center;
    margin: -10px 10px 10px 10px;
    font-family: 'Montserrat', sans-serif;
    padding: 0px;
}